body{
  font-family: 'SUIT', sans-serif;
}
.header-wrap{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  background: #000;
  z-index: 97;
}
.header-wrap .header{
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 110px;
  padding: 30px 60px;
  margin: 0 auto;
  font-family: 'Outfit';
  box-sizing: border-box;
}
.header-wrap .header > h1{
  position: relative;
  float: left;
  padding: 15px 0;
  z-index: 10;
  cursor: pointer;
}
.header-wrap .header > h1 > img{
  float: left;
  height: 20px;
}
.header-wrap .header > h1 > span{
  display: inline-block;
  height: 20px;
  padding-left: 12px;
  margin-left: 12px;
  line-height: 20px;
  text-align: left;
  font-family: 'SUIT';
  font-size: 20px;
  color: #fff;
  letter-spacing: -0.52px;
  border-left: 1px solid #767676;
}
.header-wrap .header > ul{
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;;
  gap: 65px;
  margin: 0 auto;
  z-index: 9;
}
.header-wrap .header > ul > li{
  height: 50px;
  border-radius: 100px;
  box-sizing: border-box;
}
.header-wrap .header > ul > li:hover{
  border: 1px solid #fff;
}
.header-wrap .header > ul > li > a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  box-sizing: border-box;
}
.header-wrap .header > button.btn-reg{
  position: relative;
  float: right;
  width: 130px;
  height: 50px;
  color: #fff;
  font-weight: 500;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent;
  z-index: 11;
}
.header-wrap .header > button.btn-reg:hover{
  color: #000;
  background: #fff;
}
.header-wrap .header > button.btn-menu{
  display: none;
  float: right;
  width: 58px;
  height: 58px;
  background: url(./../images/icon_menu.png) no-repeat 50% 50%;
  cursor: pointer;
}
.mobile-menu{
  position: fixed;
  left: -100%;
  width: 100%;
  height: 1000vh;
  padding-top: 58px;
  background: #000;
  z-index: 99;
  transition: left 0.8s ease-in-out;
}
.mobile-menu > button.btn-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  cursor: pointer;
  background: url(./../images/icon_menu_close.png) no-repeat 50% 50%;
}
.mobile-menu > ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.mobile-menu > ul > li{
  float: left;
  width: 100%;
}
.mobile-menu > ul > li > a{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.4px;
}

/* main screen */
.main-screen{
  width: 100%;
  padding-top: 110px;
  background: #000;
}
.main-screen > h1{
  padding: 60px 0 28px;
  line-height: 66px;
  text-align: center;
  font-size: 132px;
  color: #fff;
  font-weight: 800;
  font-family: 'Outfit';
  letter-spacing: -6.6px;
  background: url(/images/ceslogo_clr_rgb_tit_02.png) no-repeat center center;
  background-size: min(10vw, 180px);
}
.main-screen .title-wrap{
  width: 100%;
  height: 36px;
  max-width: 1520px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}
.main-screen .title-wrap .scrolling {
  animation: marquee 10s linear infinite;
  display: inline-block;
  padding-right: 10px;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to { 
    transform: translateX(-100%);
  }
}
.main-screen .title-wrap p{
  display: inline-block;
  height: 36px;
  margin-right: 20px;
  line-height: 36px;
  text-align: center;
  font-size: 30px;
  color: #fff;
  font-family: 'Outfit';
  font-weight: 300;
  white-space: nowrap;
}
.main-screen .title-wrap p > span{
  font-weight: 800;
}

.main-screen .main-video{
  position: relative;
  width: 100%;
  max-width: 1520px;
  /* height: 400px; */
  margin: 0 auto;
  border-radius: 20px;
  z-index: 10;
}

.main-screen .main-video > video{ 
  width: 100%; 
  height: 100%; 
  margin: 0 auto; 
  object-fit: cover; 
  border-radius: 20px;
  z-index: 1;
}

/* ces */
.ces-wrap{
  position: relative;
  width: 100%;
  background: url(../images/bg_ces.png) no-repeat top right #eee;
  z-index: 90;
}
.ces-wrap .ces{
  width: 100%;
  max-width: 1520px;
  padding: 120px 0;
  margin: 0 auto;
}
.ces-wrap .ces > span.text{
  display: block;
  margin-bottom: 35px;
  line-height: 16px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-family: 'Outfit';
}
.ces-wrap .ces > h1{
  line-height: 58.5px;
  text-align: left;
  font-size: 45px;
  color: #000;
  font-weight: 300;
  letter-spacing: -2.25px;
  font-family: 'SUIT';
}
.ces-wrap .ces > h1 > span{
  display: block;
  font-weight: 700;
}
.ces-wrap .ces .overview{
  width: 100%;
  margin: 90px 0;
}
.ces-wrap .ces .overview > span{
  display: block;
  width: 100%;
  line-height: 30px;
  text-align: left;
  font-size: 25px;
  color: #000;
  font-weight: 600;
  font-family: 'Outfit';
  letter-spacing: -0.5px;
}
.ces-wrap .ces .overview > p{
  margin-top: 25px;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #767676;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.ces-wrap .ces > ul{
  display: flex;
  gap: 0 30px;
  flex-wrap: wrap;
  width: 100%;
}
.ces-wrap .ces > ul > li{
  width: calc(50% - 15px);
  padding: 55px 0;
  border-top: 1px solid #d4d4d4;
}
.ces-wrap .ces > ul > li:nth-child(3){
  border-bottom: 1px solid #d4d4d4;
}
.ces-wrap .ces > ul > li:last-child{
  border-bottom: 1px solid #d4d4d4;
}
.ces-wrap .ces > ul > li > span{
  display: block;
  width: 100%;
  margin-bottom: 20px;
  line-height: 28px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.48px;
}
.ces-wrap .ces > ul > li > p{
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #767676;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}

/* slide-wrap */
.slide-wrap{
  display: inline-block;
  width: 100%;
  padding: 120px 0 180px;
  background: #f6f6f6;
  box-sizing: border-box;
}
.slide-wrap .slider{
  display: inline-block;
  width: 1520px;
  margin: 0 auto;
}
.slide-wrap .slider > h2{
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 40px;
  line-height: 60px;
  text-align: left;
  font-size: 54px;
  color: #000;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -1.62px;
  border-bottom: 1px solid #a9a9a9;
}
.slide-wrap .slider > h2 > i{
  display: inline-block;
  width: 23px;
  height: 60px;
  vertical-align: middle;
  margin-left: 20px;
  background: url(../images/icon_ess.svg) no-repeat top center;
}
.slide-wrap .slider .slide{
  display: flex;
  margin: 0 15px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 9;
}
.slide-wrap .slider.main-topic{
  margin-bottom: 85px;
}
.slide-wrap .slider.main-topic .slide{
  justify-content: center;
  align-items: center;
  height: 160px;
}
.slide-wrap .slider.main-topic .slide p{
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.48px;
}

/* KEYNOTE SPEAKER */
.keynote{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: end;
  width: 100%;
  height: 456px;
  padding: 45px;
  margin-bottom: 120px;
  border-radius: 20px;
  background: url(./../images/keynoteSpeaker/bg_keynote.png) no-repeat top right / cover;
}
.keynote > h3{
  line-height: 38px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.64px;
}
.keynote > h3 > img{
  display: inline-block;
  margin-top: -8px;
  margin-right: 5px;
}
.keynote > h3 > img.mobile-text{
  display: none;
}
.keynote > p{
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: 'SUIT';
}

.slide-wrap .slider.keynote-speaker .slide{
  padding: 25px;
  justify-content: center;
  align-items: end;
  height: 455px;
}
.slide-wrap .slider.keynote-speaker .slide p{
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.48px;
}
.slide-wrap .slider .slider-btn{
  display: flex;
  gap: 8px;
  justify-content: end;
  width: 100%;
  margin-top: 35px;
}
.slide-wrap .slider .slider-btn > button{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #a9a9a9;
}
.slide-wrap .slider .slider-btn > button.prev{
  background: url(../images/btn_prev_slide.svg) no-repeat 50% 50% transparent;
}
.slide-wrap .slider .slider-btn > button.prev:hover{
  background: url(../images/btn_prev_slide_on.svg) no-repeat 50% 50% #000;
}
.slide-wrap .slider .slider-btn > button.next{
  background: url(../images/btn_next_slide.svg) no-repeat 50% 50% transparent;
}
.slide-wrap .slider .slider-btn > button.next:hover{
  background: url(../images/btn_next_slide_on.svg) no-repeat 50% 50% #000;
}
.slide-wrap .slider .last-ces{
  width: 100%;
  padding: 100px 195px 130px;
  margin-top: 40px;
  border-radius: 20px;
  background: #222;
}
.slide-wrap .slider .last-ces > span{
  line-height: 16px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: 'Outfit';
}
.slide-wrap .slider .last-ces > h3{
  margin-top: 20px;
  line-height: 91px;
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -1.4px;
}
.slide-wrap .slider .last-ces > .video-wrap{
  width: 100%;
  margin-top: 50px;
  margin-bottom :105px;
  border-radius: 20px;
  overflow: hidden;
}
.slide-wrap .slider .last-ces .impact > h4{
  margin-bottom: 60px;
  line-height: 42px;
  text-align: center;
  font-size: 35px;
  color: #fff;
  font-weight: 500;
  font-family: 'Outfit';
  letter-spacing: -0.7px;
}
.slide-wrap .slider .last-ces .impact > ul{
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #767676;
}
.slide-wrap .slider .last-ces .impact > ul > li{
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 33.33%;
  height: 145px;
  border-top: 1px solid #767676;
}
.slide-wrap .slider .last-ces .impact > ul > li > p{
  line-height: 23px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  font-family: 'Outfit';
  letter-spacing: -0.36px;
}
.section{
  width: 100%;
  padding-top: 120px;
}
.section.bg-white{
  background: #fff;
}
.section.bg-gray{
  background: #f6f6f6;
}
.section > span.text{
  display: block;
  margin-bottom: 20px;
  line-height: 16px;
  text-align: center;
  font-size: 22px;
  color: #000;
  font-weight: 400;
  font-family: 'Outfit';
  letter-spacing: -0.44px;
}
.section > h2{
  position: relative;
  width: auto;
  line-height: 195px;
  text-align: center;
  font-size: 150px;
  color: #000; 
  font-weight: 600;
  font-family: 'Outfit';
  letter-spacing: -3px;
}
/* MAIN THEME */
.section > h2.section1-1 > i{
  position: absolute;
  bottom: 14px;
  display: inline-block;
  width: 80px;
  height: 84px;
  margin-left: -27px;
  background: url(../images/icon_mainTheme.svg) no-repeat 50% 50%;
}
/* FEATURES */
.section > h2.section1-2 > i{
  position: absolute;
  top: 0;
  display: inline-block;
  width: 104px;
  height: 104px;
  margin-left: -80px;
  background: url(../images/icon_features.svg) no-repeat 50% 50%;
}
.features-wrap{
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1520px;
  height: 600px;
  margin: 50px auto 0;
  overflow: hidden;
  z-index: 90;
}
.features-wrap .features {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(33.33% - 20px);
  border-radius: 20px;
  transition: 1s ease;
  /*background-repeat: no-repeat;*/
  /*background-position: 50% 50%;*/
  /*background-size: cover;*/
  background-color: #222;
}
.features-wrap .features .icon-reduce{
  position: absolute;
  bottom: -999em;
  right: -999em;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #fff;
  background: url(./../images/features/icon_reduce.svg) no-repeat 50% 50% transparent;
  z-index: 90;
}
.features-wrap .features#features01{
  left: 0;
}
.features-wrap .features .content-tit{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 20px;
  width: 100%;
  height: 456px;
  padding: 45px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: 11;
}
.features-wrap .features .content-tit > span{
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-family: 'SUIT';
}
.features-wrap .features .content-tit > p{
  display: flex;
  align-items: center;
  line-height: 38px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.64px;
}
.features-wrap .features .content-tit p > button{
  width: 48px;
  height: 48px;
  margin-left: auto;
  border-radius: 100%;
  border: 1px solid #fff;
  background: url(../images/features/icon_arrow_features.svg) no-repeat 50% 50% transparent;
}
.features-wrap .features .content{
  display: none;
  width: calc(100% - 435px);
  padding-right: 45px;
}
.features-wrap .features .content.list .box{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: calc(33.33% - 20px);
  padding: 25px 0;
  border-radius: 20px;
}
.features-wrap .features .content.list .box > span{
  display: block;
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.48px;
}
.features-wrap .features .content.list .box > p{
  padding: 0 25px;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.features-wrap .features .content.text{
  margin-right: 45px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.features-wrap .features .content.text p{
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.features-wrap .features .content.text p > br{
  display: none;
}
.features-wrap .features .content.list.prof .box{
  background-color: rgba(0, 0, 0, 0.8);
  background-repeat: no-repeat;
  background-position: bottom center;
}

.features-wrap .features:hover{
  position: absolute;
  top: 0;
  left: 0;
  height: 530px;
  z-index: 99;
}
.features-wrap .features:hover .icon-reduce{
  display: block!important;
  bottom: 20px;
  right: 20px;
}
.features-wrap .features:hover .content-tit{
  width: 435;
  height: 530px;
}
.features-wrap .features:hover .content-tit p > button{
  display: none;
}
.features-wrap .features:hover .content{
  height: 430px;
}
.features-wrap .features:hover .content .box-wrap{
  height: 430px;
}

.features-wrap .features:hover .content{
  display: block;
}
.features-wrap .features:hover .content.list div.box-wrap{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.features-wrap .features:hover .content.text{
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 45px;
}

.features-wrap #features01:hover {
  background-color: #d9d9d9;
}
.features-wrap #features01:hover .content-tit span, .features-wrap #features01:hover .content-tit p{
  color: #000;
}

.features-wrap #features01:hover .comingSoon-box {
  background-image: none;
}

/* SCHEDULE */
.section > h2.section2 > i{
  position: absolute;
  top: 0;
  display: inline-block;
  width: 70px;
  height: 195px;
  margin-top: -19px;
  margin-left: -47px;
  background: url(../images/icon_schedule.svg) no-repeat 50% 50%;
}
/* DEBRIEFING */
.section > h2.section3-1 > i{
  position: absolute;
  bottom: -24px;
  display: inline-block;
  width: 80px;
  height: 195px;
  margin-left: -23px;
  background: url(../images/icon_debriefing.svg) no-repeat 50% 50%;
}
/* INFORMATION */
.section > h2.section3-2 > i{
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-left: -55px;
  background: url(../images/icon_information.svg) no-repeat 50% 50%;
}
.section > h2.section3-2 > i.mobile{
  display: none;
}

.section > p{
  margin-top: 90px;
  line-height: 58px;
  text-align: center;
  font-size: 45px;
  color: #000;
  font-weight: 300;
  font-family:'SUIT';
  letter-spacing: -0.9px;
}
.section > p > br{
  display: none;
}
.section > p > span > br{
  display: none;
}
.section > p > span{
  display: block;
  font-weight: 700;
}
.section > p > span.eng{
  font-weight: 700;
  font-family: 'Outfit';
}
.section > span.sub-text{
  display: block;
  margin-top: 20px;
  line-height: 28px;
  text-align: center;
  font-size: 18px;
  color: #767676;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.section > span.sub-text > br{
  display: none;
}
.section1 .slide-wrap{
  padding-bottom: 200px;
  background: transparent;
}
.section1 .slider.main-theme{
  position: relative;
  height: 530px;
}
.section1 .slider.main-theme .slide{
  display: flex;
  align-items: end;
  margin: 0;
}
.section1 .slider.main-theme .slide .text-wrap{
  display: flex;
  flex-direction: row;
  gap: 120px;
  width: 100%;
  padding: 0 45px 45px;
}
.section1 .slider.main-theme .slide .text-wrap > h3{
  line-height: 60px;
  text-align: left;
  font-size: 50px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -1px;
}
.section1 .slider.main-theme .slide .text-wrap > h3 > span{
  display: block;
  margin-bottom: 10px;
  line-height: 28px;
  text-align: left;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  font-family: 'SUIT';
  letter-spacing: -0.44px;
}
.section1 .slider.main-theme .slide .text-wrap > p{
  float: left;
  padding-top: 40px;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.section1 .slider.main-theme ul.slick-dots{
  position: absolute;
  top: 25px;
  right: 30px;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.section1 .slider.main-theme ul.slick-dots > li.slick-active > button{
  color: #000;
  background: #fff;
}
.section1 .slider.main-theme ul.slick-dots > li > button{
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  font-family: 'SUIT';
  border-radius: 100%;
  border :1px solid #fff;
  background: transparent;
  box-sizing: border-box;
}
.section1 .slider.main-theme ul.slick-dots > li:hover > button{
  color: #000;
  background: #fff;
}

.section2 h3.sub-txt {
  font-size: 34px;
  line-height: 1.3;
  font-weight: 600;
  color: #000;
}
.section2 h3.sub-txt br.sub-txt-mo {
  display: none;
}
.section2 h3.sub-txt span {
  font-weight: 700;
  color: #00ac9d;
}

/* 컴팩트 팀 스케쥴 */
.section2 .left .slide-wrap {
  padding: 20px;
}
.section2 .left .slide-wrap .slider {
  width: 100%;
}
.section2 .left .slide-wrap .slider.schedule .slide{ 
  width: 100%;
  max-width: 380px;
  height: 490px;
} 
.section2 .left .slide-wrap .slider.schedule .slide{ 
  width: 100%;
  max-width: 380px;
} 
.section2 .slide-wrap .slider.schedule .slide .bg-schedule p {
  width: auto;
}
/* //컴팩트 팀 스케쥴 */

.section2 .slide-wrap .slider.schedule .slide{
  flex-direction: column;
  /*height: 580px;*/
  background: #fff;
}
.section2 .slide-wrap .slider.schedule .slide .bg-schedule{
  width: 100%;
  height: 220px;
  border-radius: 20px 20px 0 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.section2 .slide-wrap .slider.schedule .slide h3{
  width: 100%;
  padding: 30px 25px 6px;
  line-height: 38px;
  text-align: left;
  font-size: 32px;
  color: #000;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  letter-spacing: -0.64px;
}
.section2 .slide-wrap .slider.schedule .slide ul{
  display: inline-block;
  width: 100%;
}
.section2 .slide-wrap .slider.schedule .slide ul > li{
  float: left;
  width: 100%;
  height: auto;
  min-height: 85px;
  padding: 20px 25px;
  border-top: 1px solid #d4d4d4;
  box-sizing: border-box;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > p{
  float: left;
  width: calc(100% - 60px);
  height: 46px;
  line-height: 23px;
  text-align: left;
  font-size: 18px;
  color: #000;
  font-weight: 500;
  font-family: 'SUIT';
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap:break-word; 
}
.section2 .slide-wrap .slider.schedule .slide ul > li > p.txt {
  position: relative;
  width: auto;
  margin-top: 20px;
  color: #000;
  font-weight: 600;
  overflow: visible;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > p.txt-im img {
  position: absolute;
  width: 15px;
  right: -20px;
  top: -5px;
}

.section2 .slide-wrap .slider.schedule .slide ul > li > p.txt-im:after {
  content: ''; 
  display: block; 
  position: absolute; 
  bottom: 1px; 
  left: 0; 
  z-index: -1; 
  width: 100%; 
  height: 7px; 
  background: #ff6060;
}

.section2 .slide-wrap .slider.schedule .slide ul > li > p > strong{
  font-weight: 700;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > span{
  float: left;
  display: block;
  width: 60px;
  line-height: 20px;
  text-align: right;
  font-size: 16px;
  color: #767676;
  font-weight: 500;
  font-family: 'SUIT';
}
.section2 .slide-wrap .slider.schedule .slide ul > li > div.corp-pc {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > div.corp-pc > img{
  width: 100%;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > .corp-mo {
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
  margin-top: 20px;
}
.section2 .slide-wrap .slider.schedule .slide ul > li > .corp-mo > img {
  width: 13vw;
}
.section2 .slide-wrap .slider.schedule .slide:last-child ul > li > .corp-mo > img {
  width: 10vw;
}
.section2 .slide-wrap .slider.schedule .slide ul > li.wide > p{
  width: calc(100% - 75px);
}
.section2 .slide-wrap .slider.schedule .slide ul > li.wide > span{
  width: 75px;
}

.section2 .notice {
  margin-top: 20px;
  color:#000;
  font-weight: 600;
  font-size: 14px;
}

.section3 .slide-wrap{
  width: 1520px;
  margin: 0 auto;
  background: none;
}
.section3 .slide-wrap .slider-btn{
  display: flex;
  gap: 8px;
  justify-content: end;
  width: 100%;
  margin-top: 35px;
}
.section3 .slide-wrap .slider-btn > button{
  display: inline-block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #a9a9a9;
}
.section3 .slide-wrap .slider-btn > button.prev{
  background: url(../images/btn_prev_slide.svg) no-repeat 50% 50% transparent;
}
.section3 .slide-wrap .slider-btn > button.prev:hover{
  background: url(../images/btn_prev_slide_on.svg) no-repeat 50% 50% #000;
}
.section3 .slide-wrap .slider-btn > button.next{
  background: url(../images/btn_next_slide.svg) no-repeat 50% 50% transparent;
}
.section3 .slide-wrap .slider-btn > button.next:hover{
  background: url(../images/btn_next_slide_on.svg) no-repeat 50% 50% #000;
}
.section3 .slide-wrap .slider.advisor-list{
  width: 100%;
  /* height: 1010px; */
  height: auto;
  padding: 100px 130px;
  margin: 0 auto;
  border-radius: 20px;
  background: #222;
}
.section3 .slide-wrap .slider.advisor-list .slick-slider .slick-dots{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
  width: 100%;
  padding-bottom: 80px;
  text-align: center;
  border-bottom: 1px solid #767676;
}
.section3 .slide-wrap .slider.advisor-list .slick-slider .slick-dots li{
  width: 120px;
  height: 44px;
  background: transparent;
  cursor: pointer;
}
.section3 .slide-wrap .slider.advisor-list .slick-slider .slick-dots li > button{
  display: block;
  width: 100%;
  height: 100%;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
  border-radius: 100px;
  border: 1px solid #fff;
  background: transparent;
}
.section3 .slide-wrap .slider.advisor-list .slick-slider .slick-dots li.slick-active > button{
  color: #000;
  background: #fff;
}
.section3 .slide-wrap .slider.advisor-list .slick-slider .slick-dots li:hover > button{
  color: #000;
  background: #fff;
}
.section3 .slide-wrap .slider.advisor-list .slide{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  width: 100%;
  /* height: 820px; */
  height: auto;
  /* padding-top: 205px; */
  padding-bottom: 100px;
  flex-direction: row;
  margin: 0;
  background: #222;
  display: grid;
}
.section3 .slide-wrap .slider.advisor-list .slide .sl-tit {
  color: #fff;
  font-size: 20px;
  line-height: 1.4;
}
.section3 .slide-wrap .slider.advisor-list .slide .sl-tit > strong {
  color: #ffe94e;
  font-size: 24px;
}
.section3 .slide-wrap .slider.advisor-list .slide .info{
  width: calc(100% - 510px);
}
.section3 .slide-wrap .slider.advisor-list .slide .info > h4{
  margin-bottom: 50px;
  line-height: 38px;
  text-align: left;
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.64px;
}
.section3 .slide-wrap .slider.advisor-list .slide .info > h4 > span{
  display: block;
  font-weight: 300;
}

.section3 .slide-wrap .slider.advisor-list .slide .info > h4 > br{
  display: none;
}
.section3 .slide-wrap .slider.advisor-list .slide .info > ul{
  width: 100%;
  margin-bottom: 55px;
}
.section3 .slide-wrap .slider.advisor-list .slide .info > ul > li{
  width: 100%;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.section3 .slide-wrap .slider.advisor-list .slide .info > ul > li > i{
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 12px 10px 0;
  vertical-align: top;
  border-radius: 100%;
  background: #02f359;

}
.section3 .slide-wrap .slider.advisor-list .slide .info > p{
  line-height: 32px;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.section3 .slide-wrap .slider.advisor-list .slide .info > p > br{
  display: none;
}
.section3 .slide-wrap .slider.advisor-list .slide .image{
  width: 450px;
  height: 520px;
  border-radius: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: bottom center;
  justify-self: center;
}
.section3 .slide-wrap .slider.advisor-list .slide > h3{
  position: absolute;
  width: 100%;
  line-height: 130px;
  text-align: center;
  font-size: 7.5vw;
  font-weight: 700;
  font-family: 'SUIT', sans-serif;
  letter-spacing: -2.62px;
  color: #fff;
  font-weight: 400;
  bottom:40px;
}
.section3 .information{
  display: inline-block;
  width: 1520px;
  padding: 80px 90px;
  margin: 50px auto 180px;
  border-radius: 20px;
  background: #f6f6f6;
}
.section3 .information > h3{
  margin-top: 90px;
  line-height: 58px;
  text-align: center;
  font-size: 45px;
  color: #000;
  font-weight: 300;
  font-family:'SUIT';
  letter-spacing: -0.9px;
}
.section3 .information > h3 > span{
  display: block;
  font-weight: 700;
}
.section3 .information > ul.info-list{
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  border-top: 1px dashed #d4d4d4;
}
.section3 .information > ul.info-list > li{
  display: flex;
  flex-direction: row;
  align-items: start;
  float: left;
  width: 100%;
  padding: 55px 10px;
  border-bottom: 1px dashed #d4d4d4;
}

.section3 .information > ul.info-list > li > p{
  width: 190px;
  padding-left: 10px;
  line-height: 30px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.48px;
}
.section3 .information > ul.info-list > li > div{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;;
  width: calc(100% - 190px);
}
.section3 .information > ul.info-list > li > div.flex-column{
  flex-direction: column;
  align-items: start;
}
.section3 .information > ul.info-list > li > div > p{
  line-height: 30px;
  text-align: left;
  font-size: 18px;
  color: #767676;
  font-weight: 400;
  letter-spacing: -0.36px;
}
.section3 .information > ul.info-list > li > div > a{
  position: absolute;
  top: -10px;
  right: 0;
  width: 120px;
  height: 50px;
  margin-left: auto;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  font-family: 'SUIT';
  letter-spacing: -0.32px;
  border-radius: 100px;
  border: 1px solid #767676;
  cursor: pointer;
}
.section3 .information > ul.info-list > li > div > a:hover{
  color: #fff;
  background: #000;
}
.section3 .information > ul.info-list > li > div > ul{
  width: 100%;
}
.section3 .information > ul.info-list > li > div > ul > li{
  display: flex;
  line-height: 28px;
  text-align: left;
  font-size: 18px;
  color: #767676;
  font-weight: 400;
  font-family: 'SUIT';
  letter-spacing: -0.36px;
}
.section3 .information > ul.info-list > li > div > ul > li > i{
  display: inline-block;
  float: left;
  width: 4px;
  height: 4px;
  margin: 10px 10px 0;
  border-radius: 100%;
  background: #02f359;
}
.section4{
  width: 100%;
  padding: 120px 0;
  background: #000;
}
.section4 .register{
  position: relative;
  display: inline-block;
  width: 1520px;
  margin: 0 auto;
}
.section4 .register .left{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 150px;
  height: 100%;
}
.section4 .register .left > h3{
  line-height: 140px;
  text-align: left;
  font-size: 100px;
  color: #fff;
  font-weight: 300;
  font-family: 'SUIT';
  letter-spacing: -2px;
}
.section4 .register .left > h3 > i{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  vertical-align: top;
  background: url(../images/icon_register.svg) no-repeat 50% 50%;
}
.section4 .register .left > h3 > strong{
  font-weight: 600;
}
.section4 .register .left > h3 > strong > span{
  position: relative;
}
.section4 .register .left > h3 > strong > span::after{
  position: absolute;
  top: -30px;
  left: -30px;
  content: '';
  display: inline-block;
  width: 240px;
  height: 190px;
  background: url(../images/icon_register_circle.svg) no-repeat 50% 50%;
}
.section4 .register .left > h3 > strong > span::before{
  position: absolute;
  bottom: -120px;
  left: -90px;
  content: '';
  display: inline-block;
  width: 93px;
  height: 117px;
  background: url(../images/icon_register_arrow.svg) no-repeat 50% 50%;
}
.section4 .register .left .btn-wrap{
  width: 100%;
}
.section4 .register .left .btn-wrap > a{
  display: inline-block;
  float: left;
  width: 160px;
  height: 64px;
  margin-right: 10px;
  line-height: 64px;
  text-align: center;
  font-size: 17px;
  color: #000;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.34px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.section4 .register .left .btn-wrap > a:first-child{
  color: #fff;
  font-weight: 500;
  border-color: #767676;
  background: #000;
}


.section4 .register .right{
  float: right;
  width: 715px;
}
.section4 .register .right > h3{
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 78px;
  text-align: left;
  font-size: 60px;
  color: #fff;
  font-weight: 300;
  font-family: 'Outfit';
  letter-spacing: -1.2px;
  border-bottom: 1px solid #555;
}
.section4 .register .right > p{
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.section4 .register .right > p > span{
  line-height: 26px;
  text-align: left;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  font-family: 'Outfit';
  letter-spacing: -0.4px;
}
.section4 .register .right > p > span:first-child{
  display: inline-block;
  width: 360px;
}
.section4 .register .right .thumbnail{
  width: 100%;
  height: 715px;
  background: url(../images/img_register.png) no-repeat 0 50% / cover;
}
.section4 .contact{
  width: 1520px;
  padding: 80px 100px;
  margin: 100px auto 0;
  border-radius: 20px;
  border: 1px solid #555;
}
.section4 .contact > h3{
  line-height: 16px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 400;
  font-family: 'Outfit';
  letter-spacing: -0.44px;
}
.section4 .contact > p{
  width: 100%;
  margin: 20px 0 50px;
  line-height: 90px;
  text-align: center;
  font-size: 70px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -1.4px;
}
.section4 .contact > a{
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  line-height: 100px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.32px;
  border-radius: 100%;
  border: 1px solid #fff;
  cursor: pointer;
}
.section4 .contact > a:hover{
  color: #000;
  background: #fff;
}
.section5{
  width: 1520px;
  padding: 80px 0 120px;
  margin: 0 auto;
}
.section5 > span{
  display: block;
  width: 100%;
  line-height: 16px;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.4px;
}
.section5 > p{
  margin-top: 35px;
  text-align: left;
}
.section5 .slide-wrap{
  width: 100%;
  padding: 90px 0 0;
  background: none;
}
.section5 .slide-wrap .slider.program .slide{
  justify-content: center;
  align-items: center;
  height: 160px;
  cursor: pointer;
}
.section5 .slide-wrap .slider.program .slide p{
  line-height: 28px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: 700;
  font-family: 'Outfit';
  letter-spacing: -0.48px;
}
.footer{
  width: 100%;
  padding: 50px 0 45px;
  border-top: 1px solid #d4d4d4;
  background: #fff;
}
.footer > ul{
  display: inline-block;
  width: auto;
  text-align: center;
}
.footer > ul > li{
  float: left;
  width: auto;
  padding-right: 15px;
  margin-right: 15px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: 'Outfit';
  letter-spacing: -0.32px;
  background: url(../images/bg_line.png) no-repeat 100% 50%;
}
.footer > ul > li > a{
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  font-family: 'Outfit';
  letter-spacing: -0.32px;
}
.footer > ul > li:last-child{
  padding-right: 0;
  margin-right: 0;
  background: none;
}

/* detail(상세일정 다운로드) */
.detail{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-top: 90px;
}
.detail > p{
  padding-left: 30px;
  line-height: 36px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-weight: 500;
  font-family: 'SUIT';
  letter-spacing: -0.48px;
  background: url(../images/icon_ess.svg) no-repeat 0 50%;
}
.detail > span{
}
.detail > a{
  position: relative;
  line-height: 36px;
  text-align: left;
  font-size: 24px;
  color: #000;
  font-weight: 700;
  font-family: 'SUIT';
  letter-spacing: -0.48px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: linear-gradient(-45deg, #ee8432, #ff606c, #edca35, #00f359);
  background-size: 400% 400%;
  animation: colorChange 3s ease infinite;
  padding: 7px 15px 5px;
  border-radius: 40px;
  color: #fff;
  transition: all .3s;
}
.detail > a > .icon-down {
  width: 18px;
  margin-bottom: 5px;
  filter:invert(1);
}
.detail > a:hover{
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.3);
}



@keyframes colorChange{
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.70);
  z-index: 98;
}
#mapPopup{
  position: fixed;
  left: 0;
  right: 0;
  width: calc(100% - 80px);
  max-width: 1250px;
  margin: 0 auto;
  /* background: url(./../images/img_map.png) no-repeat 50% 50% / cover; */
  z-index: 99;
}
#mapPopup > button{
  position: absolute;
  top: 16px;
  right: 16px;
  width: 58px;
  height: 58px;
  border-radius: 100%;
  background: url(./../images/btn_close_popup.png) no-repeat 50% 50% #000;
}

/* 20240827 SCHEDULE KHJ */
.section2 .text-cont { align-items: center; position: relative; z-index: 1; margin: 90px auto 0; /*padding: 50px 20px; border: 16px outset rgba(2,243,89,0.49); border-radius: 40px;*/}
.section2 .text-cont:after { content: ''; display: flex; justify-content: center; align-items: center; position: absolute; top: -80px; right: -40px; z-index: -1; width: 100%; height: 100%; background: url("../images/ces_logo_2025.png") no-repeat top right; background-size: 350px; opacity: .2;}
.text-cont { gap: 20px; width: 936px;}
.text-cont > div { display: flex; flex-direction: column; gap: 20px; width: 100%;}
.text-cont > div > .flex- { display: flex; gap: 80px;}
.text-cont .right > strong { flex-shrink: 0; width: 306px; text-align: center;}
.text-cont strong { font-family: 'SUIT', Sans-serif; font-weight: 800; font-size: 45px; line-height: 1.3; letter-spacing: -0.9px; color: #000;}
.text-cont p { width: calc(100% - 306px); font-family: 'SUIT', Sans-serif; font-size: 20px; font-weight: 500; text-align: left; line-height: 1.6; letter-spacing: -0.4px; color: #767676;}
.text-cont p span {
  font-weight: 700;
  color: #000;
}
.text-cont .first { flex-shrink: 0; width: 306px; font-size: 36px; font-weight: 300; text-align: center; line-height: 1.75; letter-spacing: -0.72px; color: #000;}
.text-cont .first p { position: relative; width: 100%; font-size: 36px; text-align: center;}

.text-cont .first p strong.compact:after { content: ''; display: block; position: absolute; bottom: 5px; left: 0; z-index: -1; width: 100%; height: 16px; background: #02f3dd;}
.text-cont .first p strong.impact:after { content: ''; display: block; position: absolute; bottom: 5px; left: 0; z-index: -1; width: 100%; height: 16px; background: #ff6060;}

.text-cont .first strong { position: relative; z-index: 1; font-size: 45px;}
.text-cont .first span { font-size: 18px; font-weight: normal; line-height: 1.4; letter-spacing: -0.36px; color: #000;}

.slide-wrap { display: flex; flex-direction: column;}
.slide-wrap .slider.schedule > div { display: flex; justify-content: center;}
.section2 .slide-wrap .slider.schedule .slide { width: calc(100% / 4); height: 438px;}
.section2 .slide-wrap .slider.schedule .slide .bg-schedule { position: relative;}
.section2 .slide-wrap .slider.schedule .slide .bg-schedule p { position: absolute; top: 25px; left: 25px; font-family: 'Outfit', sans-serif; font-size: 24px; font-weight: bold; line-height: 1.2; letter-spacing: -0.48px; color: #fff;}
.section2 .slide-wrap .slider.schedule .slide .schedule-2025 { margin-top: 34px;}
.section2 .slide-wrap .slider.schedule .slide .schedule-2025 > li > p { width: 100%; height: auto; font-family: 'SUIT', sans-serif; font-size: 18px; line-height: 1.3; color: #767676;}
.section2 .slide-wrap .slider.schedule .slide .date { padding: 0 25px; font-family: 'SUIT', sans-serif; font-size: 24px; text-align: left; line-height: 1.3; color: #000;}

/* 20240827 DEBRIEFING KHJ */
.advisor-not-data h4 { font-family: 'SUIT', sans-serif; font-size: 32px; font-weight: 300; line-height: 1.2; letter-spacing: -0.64px; color: #fff;}
.advisor-not-data h4 strong { font-weight: bold;}
.advisor-not-data .comingSoon-box { height: 720px; margin-top: 79px; border-top: 1px solid #767676;}
.advisor-not-data .comingSoon-box strong { margin-top: -105px;}
/* .comingSoon-box { display: flex; flex-direction: column; justify-content: center; align-items: center; background: url("../images/features/coming soon.png") no-repeat center bottom;} */
.comingSoon-box { display: flex; flex-direction: column; justify-content: center; align-items: center; background: url("/images/coming soon.png") no-repeat center bottom;}
.comingSoon-box strong { font-family: 'Outfit', sans-serif; font-size: 120px; font-weight: bold; line-height: 1; letter-spacing: -2.4px; color: #fff;}

/* 20240828 features KHJ */
.features .comingSoon-box { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-size: contain;}
.features .comingSoon-box strong { font-size: 60px;}



