@charset "UTF-8";


@font-face { font-family: "KMA-Light"; font-weight: 400; src: url("/fonts/KMA-Light.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "KMA-Regular"; font-weight: 600; src: url("/fonts/KMA-Regular.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "KMA-Bold"; font-weight: 800; src: url("/fonts/KMA-Bold.woff2") format("woff2"); font-display: swap;}

@font-face { font-family: "SUIT-variable"; src: url("/fonts/SUIT-Variable.woff2") format("woff2"); font-display: swap;}

html { width: 100%; height: auto; /* overflow-y: hidden; 
animation-name: cannotScroll; animation-duration: 13.5s; animation-fill-mode: forwards; */ } 
body { width: 100%; height: auto; margin: 0; padding: 0; overflow-x: hidden;}
p, a, h1, h2, h3, h4, h5, button, input {margin: 0; padding: 0;}

::selection {
  color: #fff;
  background-color: #292929;
}

#container  {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

/* main */
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #292929; /* #292929 */
}

.main img {
  width: 100%;
  max-width: 900px;
  padding: 300px 0 0 200px; 
  opacity: 0;
  animation-name: appear;
  animation-delay: 1s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.main .top-bottom {
  position: absolute;
  width: 55px;
  height: 100vh;
  height: 0;
  background: #fff;
  left: 560px;
  animation-name: topBottom;
  animation-delay: 1.2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

.main .right-left {
  position: absolute;
  width: 100%;
  width: 0;
  height: 49px;
  background: #fff;
  top: 468px;
  right: -660px;
  animation-name: rightLeft;
  animation-delay: 1.2s;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}


.font-simple {
  position: absolute;
  bottom: 200px;
  right: 10%;
  font-family: 'SUIT-Variable';
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.7;
  opacity: 0;
  animation-name: appear;
  animation-delay: 3s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

.scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0) rotate(-45deg);
  border-left: 2.5px solid #fff;
  border-bottom: 2.5px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border-bottom-left-radius: 3px;
  opacity: 0;
  animation-name: appear;
  animation-delay: 3.5s;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}


@keyframes appear{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes topBottom {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes rightLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes cannotScroll {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

/* //main */

/* rolling-font */
.rolling-font {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 1600px;
  padding-top: 400px;
  box-sizing: border-box;
}

.rolling-font .swiper{
  position: relative;
  width: 1080px;
  height: 640px;
  margin: 0 auto;
}
.rolling-font .swiper-wrapper {
  transition-timing-function: linear;
}
.rolling-font .swiper-slide {
  height: 250px;
  text-align: center;
  font-size: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: all 0.5s ease-out;
  transform: translateZ(0);
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  background: #fff;
}
.rolling-font .swiper-slide.light {
  font-family: 'KMA-Light';
}
.rolling-font .swiper-slide.regular {
  font-family: 'KMA-Regular';
}
.rolling-font .swiper-slide.bold {
  font-family: 'KMA-Bold';
}

.rolling-font .swiper-slide-active {
  font-size: 10rem;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-top: 10px;
}

.rolling-font .rolling-font-simple {
  font-family: 'SUIT-Variable';
  color: #292929;
  font-size: 1.2rem;
  line-height: 1.7;
  text-align: center;
  margin-top: 200px;
}

/* //rolling-font */

/* history */
.history {
  position: relative;
  width: 100%;
  height: auto;
}

.history .his-pic {
  position: relative;
  width:calc(100% - 120px);
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.his-pic .bg {
  position: relative;
  width: 25%;
  height: auto;
  padding-top: 24.5%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.his-pic .bg .his-bg{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.his-pic .bg .bg-filter {
  
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}

.his-pic .bg .his-logo {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* //history */

/* detail-font */
.detail-font {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 1600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-font .title {
  position: relative;
  font-family: 'KMA-Bold';
  font-size: 10rem;
  display: grid;
  z-index: 2;
}

.detail-font .title span:nth-child(2) {
  padding-left: 140px;
}


.detail-point {
  position: absolute;
  width: 100%;
  max-width: 1500px;
  height: 500px;
  z-index: 1;
}

.detail-point .point {
  position: absolute;
  opacity: 0;
  transform: translateY(30px); /* 아래에서 위로 올라오는 효과 */
  transition: all 0.5s ease-out;
}
.detail-point .point p {
  line-height: 1.5;
}
.detail-point .point span {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 3px dotted #292929;
}

.detail-font .point1 {
  left: -30px;
  top: -70px;
}
.detail-font .point1 p {
  margin-bottom: 30px;
}

.detail-font .point2 {
  right: 400px;
  top: -54px;
}

.detail-font .point2 p {
  margin-bottom: 30px;
}

.detail-font .point3 {
  left: 166px;
  bottom: -10px;
}

.detail-font .point3 p {
  margin-top: 120px;
}

.detail-font .point4 {
  bottom: -40px;
  left: 760px;
}
.detail-font .point4 p {
  margin-top: 120px;  
}

.detail-font .point5 {
  right: -240px;
  bottom: 80px;

}
.detail-font .point5 p {
  margin-top: 40px;
}

.detail-font .point5 p {
  margin-left: 100px;
}

.detail-point .point.visible {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 */
}

/* //detail-font */


.design-font {
  position: relative;
  float: left;
  width: 100%;
  height: 75vh;
  min-height: 1213px;
  background-color: #eee;
}

.design-font .title {
  position: absolute;
  font-family: 'KMA-Regular';
  font-size: 8rem;
  top: 100px;
  left: 180px;
  z-index: 2;
}

.design-font .flow {
  position: relative;
  width: calc(200vw); 
  height: 100%;
  display: flex;
  overflow: hidden;
  animation: slide 15s linear infinite;
}

.design-font .flow .content:hover ~ .flow {
  animation-play-state: paused;
}

.design-font .content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}


.design-font .content {
  position: absolute;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


.design-font .content .kind {
  font-family: 'KMA-Regular';
  padding: 30px 40px;
  font-size: 2rem;
  color: #fff;
}

.design-font .content.cont1 {
  width: 600px;
  height: 480px;
  background-color: #999;
  left: 800px;
  top: 120px;
}

.design-font .content.cont2 {
  width: 300px;
  height: 180px;
  background-color: rgba(255, 255, 255, 0.4);
  left: 580px;
  top: 520px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.design-font .content.cont2 .kind {
  float: right;
}

.design-font .content.cont3 {
  width: 380px;
  height: 100px;
  background-color: #2340FF;
  left: 940px;
  bottom: 320px;
}

.design-font .content.cont4 {
  width: 500px;
  height: 440px;
  background-color: #ddd;
  left: 1440px;
  bottom: 230px;
}

.design-font .content.cont5 {
  width: 300px;
  height: 230px;
  background-color: #fff;
  left: 1780px;
  top: 110px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

/* //design-font */

.custom {
  position: relative;
  float: left;
  width: 100%;
  height: auto;
  padding: 20px;
  margin-top: 150px;
  box-sizing: border-box;
}

.custom .cust-title {
  font-family: 'KMA-Bold';
  font-size: 3rem;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}

.cust-wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
}
.cust-wrap .cust-card {
  position: relative;
  height: auto;
  display: flex;
  gap: 10px;
}

.cust-wrap .cust-card .card-bg{
  width: 350px;
}


.cust-wrap .cust-card .card-back {
  position: relative;
}

.cust-wrap .cust-input-txt {
  position: absolute;
  width: 350px;
  height: 567px;
  left: 0;
  top: 0;
  display: grid;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: flex-end;
}

.cust-wrap input {
  outline: none;
}

.cust-wrap .cust-input-txt .kor-name {
  border: none;
  background: none;
  font-family: 'KMA-Regular';
  font-size: 25px;
  width: 350px;
  text-align: center;
  letter-spacing: 10px;
}
.cust-wrap .cust-input-txt .eng-name {
  border: none;
  background: none;
  font-family: 'KMA-Regular';
  font-size: 14px;
  width: 350px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.cust-wrap .cust-input-txt .team {
  border: none;
  background: none;
  font-family: 'SUIT-Variable';
  font-size: 16px;
  width: 350px;
  text-align: center;
  margin: 40px 0 35px;
  letter-spacing: -1px;
}

.cust-wrap .cust-sub {
  width: 350px;
  height: 175px;
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.cust-wrap .cust-sub input {
  font-family: 'SUIT-Variable';
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  background: none;
  border: none;
}


.downloadBtn {
  width: 200px;
  height: 60px;
  margin: 20px auto 0;
  padding: 10px 20px;
  cursor: pointer;
  background: #292929;
  border: none;
  font-family: 'SUIT-Variable';
  font-weight: 400;
  font-size: 1.2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.downloadBtn img {
  width: 11px;
  filter: invert(1);
}

.resetBtn {
  width: 200px;
  height: 60px;
  margin: 20px auto 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #000;
  background: none;
  font-family: 'SUIT-Variable';
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media ( max-width: 1080px ) {
  .custom .cust-title {
    font-size: 4vw;
  }
  .cust-wrap .cust-card img{
    width: 250px;
  }
}