@charset "utf-8";
/*
*--------------------------------------------*
|                   Font                     |
*--------------------------------------------*
*/
/*@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");*/
/*!*@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");*!*/
/*@import url("https://cdn.jsdelivr.net/npm/@fontsource/lato@5.0.18/index.min.css");*/
/*@import url("https://cdn.jsdelivr.net/npm/noto-sans-kr-font@0.0.6/noto-sans-kr.min.css");*/
/*@import url("https://cdn.jsdelivr.net/npm/@noonnu/gmarketsansbold@0.0.1/index.min.css");*/
/*@import url("https://cdnjs.cloudflare.com/ajax/libs/lato-font/3.0.0/css/lato-font.min.css");*/
/*@import url("https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/static/woff2/SUIT.css");*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');*/

/*.font1 { font-family: var(--font);}*/
/*.font2 { font-family: var(--font2);}*/
/*.font3 { font-family: var(--font3);}*/
/*.font4 { font-family: var(--font4);}*/
/*.font5 { font-family: var(--font5);}*/
/*.font6 { font-family: var(--font6);}*/
/*.font7 { font-family: var(--font7);}*/

.text-xs { font-size: 12px;}
.text-sm { font-size: 14px;}
.text-base { font-size: 16px;}
.text-lg { font-size: 18px;}
.text-xl { font-size: 20px;}
.text-2xl { font-size: 24px;}
.text-3xl { font-size: 30px;}
.text-4xl { font-size: 36px;}
.text-5xl { font-size: 48px;}
.text-6xl { font-size: 60px;}

.italic { font-style: italic;}
.not-italic { font-style: normal;}

.font-thin { font-weight: 100;}
.font-extralight { font-weight: 200;}
.font-light { font-weight: 300;}
.font-normal { font-weight: 400;}
.font-medium { font-weight: 500;}
.font-semibold { font-weight: 600;}
.font-bold { font-weight: 700;}
.font-extrabold { font-weight: 800;}
.font-black { font-weight: 900;}

/*
*--------------------------------------------*
|                   Form                     |
*--------------------------------------------*
*/
select,
button, textarea, input { appearance:none; padding:0; background:none; border:none; font-size:inherit; font-weight:inherit; letter-spacing:var(--font-let-spc); color:inherit; outline:0;}
/*input[type="text"], input[type="password"]*/

input[type="text"],
input[type="password"], input[type="date"], input[type="search"], input[type="number"],
input[type="time"], input[type="color"], input[type="datetime-local"], input[type="email"],
input[type="month"], input[type="range"], input[type="url"], input[type="week"],
select,
textarea { width: 100%; caret-color: var(--theme-color);}
.textarea { padding: 15px;}

input[type="text"], input[type="password"],
*::placeholder { color: inherit;}

button,
select,
input[type="color"],
input[type="range"],
input[type="reset"],
input[type="submit"],
input[type="button"],
::-webkit-calendar-picker-indicator {cursor:pointer;}
input[type=range]::-webkit-slider-thumb {appearance:none; border-radius:50%;}
label {display:inline-flex;}

legend, caption {position:fixed; left:-100vw;}

table {table-layout:fixed; width:100%;}

/* 네이버 카페 페이지에서 쓰이는 건너뛰기 */
a.skip {
    position: absolute;
    left: 0;
    top: -30px;
    border: 1px solid #4ec53d;
    color: #fff;
    text-decoration: none;
    padding: 2px 6px 0;
    line-height: 24px;
    font-size: 12px;
    background-color: #000;
    z-index: 1200;
    -webkit-transition: .3s;
}
a.skip:active, a.skip:focus {
    top: 0;
    text-decoration: none;
    cursor: pointer;
}

/*
*--------------------------------------------*
|                   Align                    |
*--------------------------------------------*
*/
.text-center { text-align: center;}
.text-right { text-align: right;}
.text-left { text-align: left;}
.pos-ct { position:absolute; left:50%; top:50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%);}
.k-sel-center{ text-align: center !important;}

/*
*--------------------------------------------*
|                   Breakpoint               |
*--------------------------------------------*
*/
.mobile { display: none !important;}

/*
*--------------------------------------------*
|                   Color                    |
*--------------------------------------------*
*/
/* Background */
/*.col-red { color: var(--color-red) !important;}*/
/*.col-green { color: var(--color-green);}*/
/*.col-blue { color: var(--color-blue);}*/
/*.col-orange { color: var(--color-orange);}*/

/* Font */

/*
*--------------------------------------------*
|                   Line clamp               |
*--------------------------------------------*
*/
[class*="clamp-"] { overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; word-break:break-all;}
.clamp-02 { -webkit-line-clamp: 2;}
.clamp-03 { -webkit-line-clamp: 3;}
.clamp-04 { -webkit-line-clamp: 4;}
.clamp-none { overflow: visible; display: block; -webkit-box-orient: horizontal; -webkit-line-clamp: none;}


/*
*--------------------------------------------*
|                   List                     |
*--------------------------------------------*
*/
.list-disc { list-style-type: disc; list-style-position: inside;}
.list-decimal { list-style-type: decimal; list-style-position: inside;}

/*
*--------------------------------------------*
|                   Space clamp              |
*--------------------------------------------*
*/
[class*="text-space-"] { display: flex; align-items: center; justify-content: space-between;}


/*
*--------------------------------------------*
|                   Etc                      |
*--------------------------------------------*
*/
/* blind */
.blind{ position: absolute; left: -3721em;}

.hide { display: none;}
.not-hover { cursor: default;}

.text_break {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
}

/* span */
.span-info-txt { font-size: 14px; color: #6c757d; letter-spacing: -0.28px;}

/* text decoration */
.underline { text-decoration: underline;}
.line-through { text-decoration: line-through;}
.no-underline { text-decoration: none;}
.underline-offset-1 { text-underline-offset: 1px;}
.underline-offset-2 { text-underline-offset: 2px;}
.underline-offset-4 { text-underline-offset: 4px;}
.underline-offset-8 { text-underline-offset: 8px;}

/* text transform */
.uppercase { text-transform: uppercase;}
.normal-case { text-transform: none;}

/* cursor */
.cursor-auto { cursor: auto;}
.cursor-default { cursor: default;}
.cursor-pointer { cursor: pointer;}
.cursor-move { cursor: move;}
.cursor-not-allowed { cursor: not-allowed;}

/* scroll */
.scroll-auto { scroll-behavior: auto;}
.scroll-smooth { scroll-behavior: smooth;}

/* box sizing */
.box-border { box-sizing: border-box;}
.box-content { box-sizing: content-box;}

/* floats */
.fl { float: left;}
.fr { float: right;}
.float-none { float: none;}

/* overflow */
.overflow-auto { overflow: auto;}
.overflow-hidden { overflow: hidden;}
.overflow-visible { overflow: visible;}
.overflow-scroll { overflow: scroll;}

.overflow-x-auto { overflow-x: auto;}
.overflow-x-hidden { overflow-x: hidden;}
.overflow-x-visible { overflow-x: visible;}
.overflow-x-scroll { overflow-x: scroll;}

.overflow-y-auto { overflow-x: auto;}
.overflow-y-hidden { overflow-y: hidden;}
.overflow-y-visible { overflow-y: visible;}
.overflow-y-scroll { overflow-y: scroll;}

/*
*--------------------------------------------*
|                   Object                   |
*--------------------------------------------*
*/
/* object fit */
.object-contain { object-fit: contain;}
.object-cover { object-fit: cover;}

/* position */
.object-center { object-position: center;}

/*
*--------------------------------------------*
|                   display                  |
*--------------------------------------------*
*/
.block { display: block;}
.inline-block { display: inline-block;}
.dis-table { display: table;}


/*
*--------------------------------------------*
|                   Width                    |
*--------------------------------------------*
*/
.w-all,
.w-full { width: 100% !important;}
.w-auto { width: auto;}
.w-screen { width: 100vw;}

.w-28 { width: 28%;}
.w-33 { width: 33%;}
.w-50 { width: 50%;}
.w-80 { width: 80%;}

.width40 { width: 40px;}
.width60 { width: 60px;}
.width80 { width: 80px;}
.width100 { width: 100px;}
.width120 { width: 120px;}
.width140 { width: 140px;}
.width160 { width: 160px;}
.width178 { width: 178px;}
.width180 { width: 180px;}
.width200 { width: 200px;}
.width220 { width: 220px;}
.width240 { width: 240px;}
.width260 { width: 260px;}
.width280 { width: 280px;}
.width300 { width: 300px;}

/*
*--------------------------------------------*
|                   Height                   |
*--------------------------------------------*
*/
.h-full { height: 100%;}
.h-auto { height: auto;}
.h-screen { height: 100vh;}
.h-dvh { height: 100dvh;}

.height30 { height: 30px;}
.height35 { height: 35px;}
.height40 { height: 40px;}
.height42 { height: 42px;}
.height44 { height: 44px;}
.height46 { height: 46px;}
.height48 { height: 48px;}
.height50 { height: 50px;}
.height52 { height: 52px;}
.height54 { height: 54px;}
.height56 { height: 56px;}
.height58 { height: 58px;}
.height60 { height: 60px;}

/*
*--------------------------------------------*
|                   Size                     |
*--------------------------------------------*
*/
.size-full { width: 100%; height: 100%;}

/*
*--------------------------------------------*
|              Space Between                 |
*--------------------------------------------*
*/
/* text gap */
.text-gap-2 { display: flex; justify-content: space-between; align-items: center;}

/*
*--------------------------------------------*
|                   Flex                     |
*--------------------------------------------*
*/
[class*="flex-"] { display: flex; max-width: 100%; word-break: keep-all;}
.flex-inline { display: inline-flex;}
.flex-col { flex-direction: column;}
.flex-col-reverse { flex-direction: column-reverse;}
.flex-row { flex-direction: row !important;}
.flex-row-reverse { flex-direction: row-reverse;}
.flex-fix { flex: 0 0 fit-content;}
.flex-1 { flex: 1 1 0%;}
.flex-auto { flex: 0 0 auto;}
.flex-wrap { flex-wrap: wrap;}
.flex-wrap-reverse { flex-wrap: wrap-reverse;}
.flex-nowrap { flex-wrap: nowrap;}
.flex-none { flex: none;}
/* Justify Content */
.space-between { justify-content: space-between;}
.space-around { justify-content: space-around;}
.justify-center { justify-content: center;}
.flex-end { justify-content: flex-end;}
.flex-start { justify-content: flex-start;}

/* align Content */
.align-content-center { align-content: center;}
.align-content-start { align-content: flex-start;}
.align-content-end { align-content: flex-end;}
.align-content-between { align-content: space-between;}
.align-content-around { align-content: space-around;}

/* align items */
.align-center { align-items: center;}
.align-end { align-items: flex-end;}
.align-start { align-items: flex-start;}

.flex-all-center { justify-content: center; align-items: center; text-align: center;}

.flex-shrink-0 { flex-shrink: 0 !important;}

/* Gap */
.gap3 { gap: 3px;}
.gap7 { gap: 7px;}
.gap8 { gap: 8px;}
.gap10 { gap: 10px;}
.gap15 { gap: 15px;}
.gap30 { gap: 30px;}

/* width */
.w-all { width: 100% !important;}
.w-auto { width: auto;}

/*
*--------------------------------------------*
|                   Margin / Padding         |
*--------------------------------------------*
*/
.m-auto { margin: 0 auto;}
.margin0 { margin: 0 !important;}

.my0 { margin-top: 0; margin-bottom: 0;}
.my5 { margin-top: 5px; margin-bottom: 5px;}
.my7 { margin-top: 7px; margin-bottom: 7px;}
.my10 { margin-top: 10px; margin-bottom: 10px;}
.my13 { margin-top: 13px; margin-bottom: 13px;}
.my15 { margin-top: 15px; margin-bottom: 15px;}
.my18 { margin-top: 18px; margin-bottom: 18px;}
.my20 { margin-top: 20px; margin-bottom: 20px;}
.my24 { margin-top: 24px; margin-bottom: 24px;}
.my26 { margin-top: 26px; margin-bottom: 26px;}
.my28 { margin-top: 28px; margin-bottom: 28px;}
.my30 { margin-top: 30px; margin-bottom: 30px;}

.mx0 { margin-left: 0; margin-right: 0;}
.mx5 { margin-left: 5px; margin-right: 5px;}
.mx7 { margin-left: 7px; margin-right: 7px;}
.mx10 { margin-left: 10px; margin-right: 10px;}
.mx13 { margin-left: 13px; margin-right: 13px;}
.mx15 { margin-left: 15px; margin-right: 15px;}
.mx18 { margin-left: 18px; margin-right: 18px;}
.mx20 { margin-left: 20px; margin-right: 20px;}
.mx24 { margin-left: 24px; margin-right: 24px;}
.mx26 { margin-left: 26px; margin-right: 26px;}
.mx28 { margin-left: 28px; margin-right: 28px;}
.mx30 { margin-left: 30px; margin-right: 30px;}

.mt0 { margin-top: 0 !important;}
.mt5 { margin-top: 5px;}
.mt7 { margin-top: 7px;}
.mt10 { margin-top: 10px;}
.mt15 { margin-top: 15px !important;}
.mt16 { margin-top: 16px !important;}
.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}
.mt50 { margin-top: 50px;}
.mt60 { margin-top: 60px;}
.mt70 { margin-top: 70px;}
.mt80 { margin-top: 80px;}
.mt90 { margin-top: 90px;}
.mt100 { margin-top: 100px;}
.-mt10 { margin-top: -10px;}
.-mt20 { margin-top: -20px;}

.mr0 { margin-right: 0 !important;}
.mr5 { margin-right: 5px;}
.mr7 { margin-right: 7px;}
.mr10 { margin-right: 10px;}
.mr13 { margin-right: 13px;}
.mr15 { margin-right: 15px;}
.mr18 { margin-right: 18px;}
.mr20 { margin-right: 20px;}
.mr24 { margin-right: 24px;}
.mr26 { margin-right: 26px;}
.mr28 { margin-right: 28px;}
.mr30 { margin-right: 30px;}

.ml0 { margin-left: 0 !important;}
.ml5 { margin-left: 5px;}
.ml7 { margin-left: 7px;}
.ml10 { margin-left: 10px;}
.ml13 { margin-left: 13px;}
.ml15 { margin-left: 15px;}
.ml18 { margin-left: 18px;}
.ml20 { margin-left: 20px;}
.ml25 { margin-left: 25px;}
.ml28 { margin-left: 28px;}
.ml30 { margin-left: 30px;}

.mb0 { margin-bottom: 0 !important;}
.mb5 { margin-bottom: 5px;}
.mb7 { margin-bottom: 7px;}
.mb10 { margin-bottom: 10px;}
.mb13 { margin-bottom: 13px;}
.mb15 { margin-bottom: 15px;}
.mb18 { margin-bottom: 18px;}
.mb20 { margin-bottom: 20px;}
.mb25 { margin-bottom: 25px;}
.mb28 { margin-bottom: 28px;}
.mb30 { margin-bottom: 30px;}

.padding0 { padding: 0 !important;}
.padding16 { padding: 16px;}
.padding20 { padding: 20px;}
.padding30 { padding: 30px;}
.pt0 { padding-top: 0 !important;}
.pt10 { padding-top: 10px;}
.pt15 { padding-top: 15px;}
.pt18 { padding-top: 18px;}
.pt20 { padding-top: 20px;}
.pt30 { padding-top: 30px;}
.pt40 { padding-top: 40px;}

.pl0 { padding-left: 0 !important;}
.pl10 { padding-left: 10px;}
.pl15 { padding-left: 15px;}
.pl18 { padding-left: 18px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}
.pl40 { padding-left: 40px;}

.pr0 { padding-right: 0 !important;}
.pr10 { padding-right: 10px;}
.pr15 { padding-right: 15px;}
.pr18 { padding-right: 18px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}
.pr40 { padding-right: 40px;}

.pb0 { padding-bottom: 0 !important;}
.pb10 { padding-bottom: 10px;}
.pb15 { padding-bottom: 15px;}
.pb18 { padding-bottom: 18px;}
.pb20 { padding-bottom: 20px;}
.pb30 { padding-bottom: 30px;}
.pb40 { padding-bottom: 40px;}

.px0 { padding-left: 0 !important; padding-right: 0 !important;}
.px10 { padding-left: 10px; padding-right: 10px;}
.px15 { padding-left: 15px; padding-right: 15px;}
.px18 { padding-left: 18px; padding-right: 18px;}
.px20 { padding-left: 20px; padding-right: 20px;}
.px30 { padding-left: 30px; padding-right: 30px;}
.px40 { padding-left: 40px; padding-right: 40px;}

.py0 { padding-top: 0 !important; padding-bottom: 0 !important;}
.py10 { padding-top: 10px; padding-bottom: 10px;}
.py15 { padding-top: 15px; padding-bottom: 15px;}
.py18 { padding-top: 18px; padding-bottom: 18px;}
.py20 { padding-top: 20px; padding-bottom: 20px;}
.py30 { padding-top: 30px; padding-bottom: 30px;}
.py40 { padding-top: 40px; padding-bottom: 40px;}


/*
*--------------------------------------------*
|                   Clear class              |
*--------------------------------------------*
*/
.clfix:after {content:'.'; display:block; height:0px; clear:both; visibility:hidden;}
.clfix {display:inline-block;}
.clfix {display:block;}
* html .clfix {height:1%;} /* hides from ie-mac */
.clfix {zoom:1;} /*for ie 5.5-7*/

/* --Clearfix */
.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}
.clearfix{*zoom:1}
.clearfix:before,
.clearfix:after{display:table;line-height:0;content:""}
.clearfix:after{clear:both}

/*
*--------------------------------------------*
|                   Border                   |
*--------------------------------------------*
*/
.border-t-0 { border-top: 0 !important;}
.border-l-0 { border-left: 0 !important;}
.border-r-0 { border-right: 0 !important;}
.border-b-0 { border-bottom: 0 !important;}

/*.divide-x > :not([hidden])~:not([hidden]) { border-right-width: 0; border-left-width: 0;}*/


/* round */
.round0 { border-radius: 0;}
.round-2 { border-radius: 2px;}
.round-4 { border-radius: 4px;}
.round-6 { border-radius: 6px;}
.round-8 { border-radius: 8px;}
.round-10 { border-radius: 10px;}
.round-12 { border-radius: 12px;}
.round-14 { border-radius: 14px;}
.round-16 { border-radius: 16px;}
.round-18 { border-radius: 18px;}
.round-20 { border-radius: 20px;}
.round-100 { border-radius: 100px;}
.round-full { border-radius: 9999px;}


/*
*--------------------------------------------*
|                   Table                    |
*--------------------------------------------*
*/
.border-collapse { border-collapse: collapse;}
.border-separate { border-collapse: separate;}
.caption-top { caption-side: top;}
.caption-bottom { caption-side: bottom;}


/*
*--------------------------------------------*
|                   Skeleton                 |
*--------------------------------------------*
*/
.animate-skeleton { animation: skeleton 2s cubic-bezier(0.4,0,0.6,1) infinite;}

@keyframes skeleton {
    0%, 100% { opacity: 1;}
    50% { opacity: .5;}
}

.animate-bounce { animation: bounce 1s infinite;}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}


/*
*--------------------------------------------*
|                   Break After              |
*--------------------------------------------*
*/
.break-after-auto { break-after: auto;}
.break-after-avoid { break-after: avoid;}
.break-after-all { break-after: all;}
.break-after-avoid-page { break-after: avoid-page;}
.break-after-page { break-after: page;}

/*
*--------------------------------------------*
|                   Break Before             |
*--------------------------------------------*
*/
.break-before-auto { break-before: auto;}
.break-before-avoid { break-before: avoid;}
.break-before-all { break-before: all;}
.break-before-avoid-page { break-before: avoid-page;}
.break-before-page { break-before: page;}